.generic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.1rem;
  row-gap: 1.0625rem;
}

.home {
  margin-top: 2.625rem;
  border-bottom: 1px solid #2c2c2c;
  padding-bottom: 1.161rem;
}
